# Python Environment
venv/
__pycache__/
*.pyc

# Local Databases (Docker)
postgres_data/
redis_data/

# Secrets
.env

# Market Data Dumps
*.sql
*.csv
*.sql.gz
*.json

#previous mentioned
venv314/
*.log
data/historical/
data/profiling/

#Locally usefull files
*replayer.py